{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista Usuários</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/estilo.css' %}">
</head>
<body>
    {% include 'usuarios/links.html' %}
    <h1>Lista de Usuários</h1>
    <table>
        <tr><th>Nome</th><th>Idade</th></tr>
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.nome }}</td><td>{{ pessoa.idade }}</td>
                
            </tr>
        {% empty %}
            <tr><th colspan="5">Ainda não há usuários cadastrados.</th></tr>
        {% endfor %}
</table>
</body>
</html>